### Instalacja Pandas

W konsoli:
```
   pip install pandas
```

In [ ]:
import numpy as np
import pandas as pd

Dwa typy struktur:
* Series -- jednowymiarowa
* DataFrame -- dwuwymiarowa

# Series

In [ ]:
pd.Series([1,2,3])

In [ ]:
dane = {'a':'pies','b':'kot','c':'krowa'}
s =  pd.Series(dane)

In [ ]:
s

In [ ]:
s['b']

In [ ]:
s[1]

### DataFrame

In [ ]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]], index = ['jeden', 'dwa', 'trzy'], columns = ['a', 'b', 'c'])

In [ ]:
df

### Indeksowanie i slicing

In [ ]:
df['b']

In [ ]:
df[['b','c']]

In [ ]:
df.loc['jeden','b']

In [ ]:
df.iloc[0,1]

In [ ]:
df.loc[['jeden','dwa'],['b','c']]

In [ ]:
df.iloc[:2,1:]

###   Zadanie 1 <img src="../images/pencil.png" width="20" align="left">

Stwórz DataFrame *z1_df* z danych *arr*. Nazwij kolumny zgodnie z *nazwy*. Wybierz zakres danych *pomiaru2* i *kontrolnego* oraz wiersze od 5 do 9 indeksu.

In [ ]:
np.random.seed(2137)
arr = np.random.rand(10,4)
nazwy = ['pomiar1', 'pomiar2', 'pomiar3', 'kontrolny']

In [ ]:
arr

### Wybór warunkowy

In [ ]:
df > 5

In [ ]:
warunek = df > 5
df[warunek]

In [ ]:
df[df>5]

In [ ]:
df['c']>5

In [ ]:
df[df['c']>5]

In [ ]:
nowa_df = df[df['c']>5]

In [ ]:
nowa_df['b']

In [ ]:
df[df['c']>5]['b']

###   Zadanie 2 <img src="../images/pencil.png" width="20" align="left">

Wyodrębnij kolumnę *pomiar3* dla wierszy, które w kolumnie *kontrolny* są mniejsze od 0,5.

In [ ]:
df[(df['c'] > 5) & (df['a'] > 7)]['b']

###   Zadanie 3 <img src="../images/pencil.png" width="20" align="left">

Wyodrębnij kolumnę *kontrolny* dla wierszy, które w kolumnach *pomiar1* i *pomiar2* są większe od 0,2.

### Braki w danych

In [ ]:
df

In [ ]:
df.loc[3] = [10, np.nan, 12]

In [ ]:
df.rename(index={3:"cztery"}, inplace=True)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
x = df["b"].median()
x

In [ ]:
df["b"].fillna(x) #  inplace = True

### Łączenie DataFramów

In [ ]:
df1 = pd.DataFrame(np.array([np.random.rand(5), [1,2,3,4,5]]).transpose(), columns=['pomiar1', 'nr_badanego'])
df2 = pd.DataFrame(np.array([np.random.rand(5)*2, [1,2,3,4,5]]).transpose(), columns=['pomiar1', 'nr_badanego'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.merge(left=df1, right=df2, on='nr_badanego')

###   Zadanie 4 <img src="../images/pencil.png" width="20" align="left">

Połącz dataframe'y *df_a* i *df_b*, tak aby stworzyć 4 kolumny z pomiarami dla 5 osób badanych (5 wierszy).

In [ ]:
df_a = pd.DataFrame(np.array([np.random.rand(5), np.random.rand(5)*0.1]).transpose(), columns=['pomiar1', 'pomiar2'])
df_b = pd.DataFrame(np.array([np.random.rand(5)*2, np.random.rand(5)*(-.01)]).transpose(), columns=['pomiar3', 'pomiar4'])

### Operacje i przydatne funkcje

In [ ]:
df['suma'] = df['a'] + df['c']

In [ ]:
# usunięcie kolumny; aby zmieniło pierwotny df, potrzebny 'inplace'
df.drop('suma', axis=1)

In [ ]:
df['a'].unique()

In [ ]:
df.columns

### Dodatkowe operacje na danych

In [ ]:
def pomnoz(x):
    return x*3

In [ ]:
df['a'].apply(pomnoz)

In [ ]:
df['a'].apply(lambda x:x*3)

In [ ]:
df.to_csv('dane.csv')

In [ ]:
pobrane_dane = pd.read_csv('dane.csv')

In [ ]:
df.head()

###   Zadanie 5 <img src="../images/pencil.png" width="20" align="left">

Stwórz nową kolumnę w danych z *z1_df*, która zawiera słowo 'tak' jeśli suma wartości dla kolumn *pomiar1*, *pomiar2*, *pomiar3* jest większa od 1, a słowo 'nie' w przeciwnym wypadku. Eksportuj te dane do pliku csv.